<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto IA</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

		<!-- Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet" >
    
    <!-- CSS estlos -->
		<link rel="stylesheet" href="{{ url_for('static', filename='public/assets/css/style.css') }}">
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="\">PCM</a></h1>
			<nav id="navbar" class="navbar">
        <ul>
					<li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
					<li><a class="nav-link scrollto" href="#about">Acerca</a></li>
					<li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
        </ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav>
      </div>
		</header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
		<section id="hero" class="d-flex align-items-center">
			<div class="container position-relative">
				<div class="row justify-content-center">
					<div class="col-xl-7 col-lg-9 text-center">
						<h1>Algoritmos de Inteligencia Artificial</h1>
					</div>
				</div>

				<div class="row icon-boxes">
					<div class="col-md-6 col-lg d-flex align-items-stretch mb-5 mb-lg-0">
						<div class="icon-box">
							<a href="#Algoritmo1">
							<img src="static/public/assets/img/Algoritmo/Algoritmo1.png" class="img-fluid" alt="">
							<h4 class="title">Apriori</h4>
							<p class="description">Encontrar patrones recurrentes en la información.</p>
							</a>
						</div>
					</div>

					<div class="col-md-6 col-lg d-flex align-items-stretch mb-5 mb-lg-0">
						<div class="icon-box">
							<a href="#Algoritmo2">
							<img src="static/public/assets/img/Algoritmo/Algoritmo2.png" class="img-fluid" alt="">
							<h4 class="title">Distancias</h4>
							<p class="description">Cálculo de la distancia entre dos objetos.</p>
							</a>
						</div>
					</div>

					<div class="col-md-6 col-lg d-flex align-items-stretch mb-5 mb-lg-0">
						<div class="icon-box">
							<a href="#Algoritmo3">
							<br><img src="static/public/assets/img/Algoritmo/Algoritmo3.png" class="img-fluid" alt="">
							<h4 class="title">Clustering</h4>
							<p class="description">Agrupación de los datos segun sus similitudes.</p>
							</a>
						</div>
					</div>

					<div class="col-md-6 col-lg d-flex align-items-stretch mb-5 mb-lg-0">
						<div class="icon-box">
							<a href="#Algoritmo4">
							<img src="static/public/assets/img/Algoritmo/Algoritmo4.png" class="img-fluid" alt="">
							<h4 class="title">Clasificación</h4>
							<p class="description">Predicción de la clase a la que pertecene el objeto.</p>
							</a>
						</div>
					</div>

					<div class="col-md-6 col-lg d-flex align-items-stretch mb-5 mb-lg-0">
						<div class="icon-box">
							<a href="#Algoritmo5">
							<img src="static/public/assets/img/Algoritmo/Algoritmo5.png" class="img-fluid" alt="">
							<h4 class="title">Pronosticos</h4>
							<p class="description">Pronostico a futuro del comportamiento de un objeto.</p>
							</a>
						</div>
					</div>

				</div>
			</div>
		</section><!-- Fin Hero -->

	<!-- ======= Main ======= -->
	<main id="main">

		<!-- ======= Algoritmo1  ======= -->
		<section id="Algoritmo1" class="Algoritmo">
			<div class="container">
				<div class="section-title">
					<h2>Apriori</h2>
				</div>

				<div class="row">
          <div class="col-lg-4 col-md-6" >
						<div class="box">
							<br>
							<img src="static/public/assets/img/Algoritmo/Algoritmo1.png" class="img-fluid" alt="">
							<br><br><p>Encontrar patrones recurrentes en la información.</p><br>
						</div>
          </div>

					<div class="col-lg-4 pt-3 pt-lg-0 content">
						<h3>Insertar datos</h3>
								<!-- Main Input For Receiving Query to our ML -->
								<form action="{{ url_for('predictApriori')}}"method="post">
									<input type="text" name="min_soporte" placeholder="Soporte minimo" required="required" />
									<input type="text" name="min_confianza" placeholder="Confianza minima" required="required" />
									<input type="text" name="mini_lift" placeholder="Lift minimo" required="required" />
									<div class="d-grid gap-2 col-6 mx-auto">
										<div class="btn-wrap">
											<button type="submit" class="btn">Predict</button>
										</div>
									</div>
								</form>
					</div>

					<div class="col-lg-4 pt-3 pt-lg-0 content">
						<h3>Reglas generadas</h3>
						{% for cadena in ReglasApriori %}
						<h4>{{ cadena }}</h4>
						{% endfor %}
						<div class="box">
							<img src="static/public/assets/img/apriori.png" class="img-fluid" alt="">
							<p>Distribución de los datos.</p>
						</div>
					</div>

				</div>
			</div>
		</section>

		<!-- ======= Algoritmo 2  ======= -->
		<section id="Algoritmo2" class="Algoritmo section-bg">
			<div class="container">
				<div class="section-title">
					<h2>Distancias</h2>
				</div>

				<div class="row">
          <div class="col-lg-4 col-md-6" >
						<div class="box">
							<br><img src="static/public/assets/img/Algoritmo/Algoritmo2.png" class="img-fluid" alt="">
							<br><br><p>Cálculo de la distancia entre dos objetos.</p><br>
						</div>
          </div>

					<div class="col-lg-4 pt-3 pt-lg-0 content">
						<h3> Objetos a comparar </h3>
						<p> Objeto 1</p>
						<form action="{{ url_for('predictDistancias')}}"method="post">
							<select class="form-select" aria-label="Default select example" id="objeto1" name="'objeto1" required>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
							</select>
							<br>
							<p> Objeto 2</p>
							<select class="form-select" aria-label="Default select example" id="objeto2" name="'objeto2" required>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
							</select>
								<div class="d-grid gap-2 col-6 mx-auto">
									<div class="btn-wrap">
										<button type="submit" class="btn">Predict</button>
									</div>
								</div>
						</form>
					</div>
	
					<div class="col-lg-4 pt-3 pt-lg-0 content" id = Distancias>
						<h3>Resultados</h3>
						{% for cadena in Distancias %}
						<h4>{{ cadena }}</h4>
						{% endfor %}
						<div class="box">
							<img src="static/public/assets/img/mapaCalorDistancias.png" class="img-fluid" alt="">
							<p>Mapa de calor.</p>
						</div>
					</div>

				</div>
				</div>
		</section>

		<!-- ======= Algoritmo 3  ======= -->
		<section id="Algoritmo3" class="Algoritmo ">
			<div class="container">
				<div class="section-title">
					<h2>Clustering</h2>
				</div>

				<div class="row">
          <div class="col-lg-4 col-md-6" >
						<div class="box">
							<img src="static/public/assets/img/Algoritmo/Algoritmo3.png" class="img-fluid" alt="">
							<br><br><p>Agrupación de los datos segun sus similitudes.</p><br>
						</div>
          </div>

					<div class="col-lg-4 pt-3 pt-lg-0 content">
						<h3> Método a utilizar:</h3>
						<form method="post">
							<select class="form-select" aria-label="Default select example" id="metodo" name="metodo" required>
								<option value="euclidean">Euclidiano</option>
								<option value="chebyshev">Chebyshev</option>
								<option value="cityblock">Manhattan</option>
								<option value="minkowski">Minkowski</option>
							</select>
					</div>

					<div class="col-lg-4 pt-3 pt-lg-0 content">
						<h3>Jerarquico</h3>
							<!-- Input -->
							<div class="d-grid gap-2 col-6 mx-auto">
								<div class="btn-wrap">
									<button formaction="{{ url_for('predictJerarquico')}}" type="submit" class="btn">Predict</button>
								</div>
							</div>
						<br>
						<br>
							<h3>Particional</h3>
							<div class="d-grid gap-2 col-6 mx-auto">
								<div class="btn-wrap">
									<button formaction="{{ url_for('predictParticional')}}" type="submit" class="btn">Predict</button>
								</div>
							</div>
					</form>
					</div>

				</div>

				<div class="row">
					<div class="section-title">
						<h3>Resultados Jerarquico</h3>
					</div>			
					<div class="col-lg-4 col-md-6" >
						<div class="box">
							<img src="static/public/assets/img/mapaCalorClustering.png" class="img-fluid" alt="">
							<p>Mapa de calor.</p>
						</div>
          </div>

					<div class="col-lg-4 col-md-6" >
						<div class="box">
							<img src="static/public/assets/img/ArbolJerarquicoClustering.png" class="img-fluid" alt="">
							<p>Árbol.</p>
						</div>
          </div>

					<div class="col-lg-4 col-md-6" >
						<div class="box">
							<img src="static/public/assets/img/DispesionJerarquicoClustering.png" class="img-fluid" alt="">
							<p>Dispersión de datos.</p>
						</div>
          </div>
				</div>

				<div class="row">
					<div class="section-title">
						<h3>Resultados Particional</h3>
					</div>
					<div class="col-lg-4 col-md-6" >
						<div class="box">
							<img src="static/public/assets/img/ElbowMethodClustering.png" class="img-fluid" alt="">
							<p>Gráfica 'codo'.</p>
						</div>
          </div>

					<div class="col-lg-4 col-md-6" >
						<div class="box">
							<img src="static/public/assets/img/KneePlot.png" class="img-fluid" alt="">
							<p>'Codo/Knee'.</p>
						</div>
          </div>

					<div class="col-lg-4 col-md-6" >
						<div class="box">
							<img src="static/public/assets/img/Dispersion3DParticional.png" class="img-fluid" alt="">
							<p>Dispersión de datos.</p>
						</div>
          </div>
				</div>


			</div>
		</section>

		<!-- ======= Algoritmo 4  ======= -->
		<section id="Algoritmo4" class="Algoritmo section-bg">
			<div class="container">
				<div class="section-title">
					<h2>Clasificación</h2>
					<p> Regresión Logistica </p>
				</div>

				<div class="row">
          <div class="col-lg-4 col-md-6" >
						<div class="box">
							<br>
							<img src="static/public/assets/img/Algoritmo/Algoritmo4.png" class="img-fluid" alt="">
							<br><br><p>Predicción de la clase a la que pertecene el objeto.</p><br>
						</div>
          </div>

					<div class="col-lg-4 pt-3 pt-lg-0 content">
						<h3>Insertar datos</h3>
								<!-- Main Input For Receiving Query to our ML -->
								<form action="{{ url_for('predictLogistica')}}"method="post">
									<input type="text" name="Pregnancies" placeholder="Embarazos" required="required" />
									<input type="text" name="Glucose" placeholder="Glucosa" required="required" />
									<input type="text" name="BloodPressure" placeholder="Presión Arterial" required="required" />
									<input type="text" name="SkinThickness" placeholder="Grosor Pliego" required="required" />
					</div>

					<div class="col-lg-4 pt-3 pt-lg-0 content">
						<hr style="height:10px; visibility:hidden;" />
						<input type="text" name="Insulin" placeholder="Insulina" required="required" />
						<input type="text" name="BMI" placeholder="Indice de Masa Corporal" required="required" />
						<input type="text" name="DiabetesPedigreeFunction" placeholder="Función Pedigri Diabetes" required="required" />
						<input type="text" name="Age" placeholder="Edad" required="required" />

						<div class="d-grid gap-2 col-6 mx-auto">
							<div class="btn-wrap">
								<button type="submit" class="btn">Predict</button>
							</div>
						</div>
						</form>
						
					</div>
				</div>

				<div class="row">
					<div class="section-title">
						<h3>Resultados</h3>
						{% for cadena in ReporteLogistico %}
						<h4>{{ cadena }}<h4>
						{% endfor %}
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4 col-md-6" >
						<div class="box">
							<img src="static/public/assets/img/mapaCalorLogistico.png" class="img-fluid" alt="">
							<p>Mapa de calor.</p>
						</div>
          </div>

					<div class="col-lg-4 col-md-6" >
						<div class="box">
							<img src="static/public/assets/img/AgrupamientoLogistico.png" class="img-fluid" alt="">
							<p>Agrupamiento.</p>
						</div>
          </div>

					<div class="col-lg-4 col-md-6" >
						<div class="box">
							<img src="static/public/assets/img/curvaROCLogistico.png" class="img-fluid" alt="">
							<p>Curva ROC.</p>
						</div>
          </div>
				</div>

			</div>
		</section>

		<!-- ======= Algoritmo 5  ======= -->
		<section id="Algoritmo5" class="Algoritmo">
			<div class="container">
				<div class="section-title">
					<h2>Pronostico</h2>
				</div>

				<div class="row">
          <div class="col-lg-4 col-md-6" >
						<div class="box">
							<br>
							<img src="static/public/assets/img/Algoritmo/Algoritmo5.png" class="img-fluid" alt="">
							<br><br><p>Pronostico a futuro del comportamiento de un objeto.</p><br>
						</div>
          </div>

					<div class="col-lg-4 pt-3 pt-lg-0 content">
						<h3>Insertar datos</h3>
								<form action="{{ url_for('predictADyBA')}}"method="post">
									<input type="text" name="ticket" placeholder="Ticket de la acción" required="required" />
									<input type="text" name="open" placeholder="Open" required="required" />
									<input type="text" name="high" placeholder="High" required="required" />
									<input type="text" name="low" placeholder="Low" required="required" />

									<div class="d-grid gap-2 col-6 mx-auto">
										<div class="btn-wrap">
											<button type="submit" class="btn">Predict</button>
										</div>
									</div>
								</form>
					</div>

					<div class="col-lg-4 pt-3 pt-lg-0 content">
						<h3>Pronosticos</h3>
						<div class="section-result">
							<h1> Árbol de Decisión </h1>
							{% for cadena in ReporteAD %}
							<h2>{{ cadena }}<h2>
							{% endfor %}

							<h1> Bosque Aleatorio </h1>
							{% for cadena in ReporteBA %}
							<h2>{{ cadena }}<h2>
							{% endfor %}

						</div>
					</div>
				</div>

				<div class="row">
					<div class="section-title">
						<h3>Resultados Árbol de decisión</h3>
					</div>
				</div>

				<div class="row">	
					<div class="col-lg-4 col-md-6" >
						<div class="box">
							<img src="static/public/assets/img/accionesAD.png" class="img-fluid" alt="">
							<p>Acciones actuales.</p>
						</div>
          </div>

					<div class="col-lg-4 col-md-6" >
						<div class="box">
							<img src="static/public/assets/img/modeloAD.png" class="img-fluid" alt="">
							<p>Modelo AD.</p>
						</div>
          </div>

					<div class="col-lg-4 col-md-6" >
						<div class="box">
							<img src="static/public/assets/img/AD.png" class="img-fluid" alt="">
							<p>Árbol de decisión.</p>
						</div>
          </div>
				</div>

				<div class="row">
					<div class="section-title">
						<h3>Resultados Bosque Aleatorio</h3>
					</div>
				</div>

				<div class="row">	
					<div class="col-lg-4 col-md-6" >
						<div class="box">
							<img src="static/public/assets/img/accionesAD.png" class="img-fluid" alt="">
							<p>Acciones actuales.</p>
						</div>
          </div>

					<div class="col-lg-4 col-md-6" >
						<div class="box">
							<img src="static/public/assets/img/modeloBA.png" class="img-fluid" alt="">
							<p>Modelo BA.</p>
						</div>
          </div>

					<div class="col-lg-4 col-md-6" >
						<div class="box">
							<img src="static/public/assets/img/BA.png" class="img-fluid" alt="">
							<p>Bosque Aleatorio.</p>
						</div>
          </div>
				</div>


			</div>
		</section>
		
		<!-- ======= Acerca de  ======= -->
		<section id="about" class="about section-bg">
			<div class="container">
				<div class="section-title">
					<h2>Acerca de </h2>
					<p>Versión Beta 10 enero 2023. </p>
				</div>

				<div class="row content">
					<p> Proyecto web para la materia Inteligencia Artificial. </p>
					<p>
						Se presenta una interfaz web que simplifica la aplicación de algunos algoritmos usados
						para el entrenamiento de una Inteligencia Articial.
					</p>
				</div>

			</div>
		</section><!-- Fin Acerca de -->

		<!-- ======= Contacto ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
          <h2>Contacto</h2>
        </div>

				<div class="col-lg-4">
					<div class="info">
						<div class="email">
							<i class="bi bi-envelope"></i>
							<h4>Email:</h4>
							<p>pamela.castillo.montes@gmail.com</p>
						</div>
					</div>
				</div>
      </div>

    </section><!-- Fin Contacto  -->

  </main><!-- Fin #main -->

		<!-- ======= Pie de página ======= -->
	<footer id="footer">
    <div class="me-md-auto text-center text-md-center">
      &copy; Copyright <strong><span>:D</span></strong> Uso Educativo
			<div class="credits">
				Designed by Castillo Montes Pamela
			</div>
    </div>
  </footer><!-- Fin Pie de Página -->

	<!-- Indicador de carga -->
	<div id="preloader"></div>

	<!-- Regresar arriba -->
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

	<!-- BootStrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  <!-- Main JS  -->
	<script src="static/public/assets/js/main.js"></script>

  </body>
</html>